# Ignore workspace configuration files.
.vscode/*

# Ignore the compiled Java bytecode.
bin/*

# Ignore everything in the io folder.
io/*

# Ignore everything in the src folder except the #hashtag folders.
src/*
!src/\#*/
