# Ignore workspace configuration files.
.vscode/*

# Ignore the compiled Java bytecode.
bin/*

# Ignore everything in the io folder.
io/*
!io/in.txt
!io/out.txt
!io/err.txt

# Ignore everything in the src folder except the #hashtag folders.
src/*
!src/\#*/
